<article itemscope="" itemtype="http://schema.org/Article" class="list-items-container">
	<meta itemprop="datePublished" content="2019-06-23 06:44:00 -0700 -0700">
	<meta itemprop="dateModified" content="2019-06-23 06:44:00 -0700 -0700">
	<meta itemprop="image" content="img/featured.png">
	<meta itemprop="publisher" content="fireship.io">

	<h1 itemprop="name headline" id="paypal-checkout" class="post-title border-bottom">
		Assignments
	</h1>
	<div class="content-main">

		<academic-order-list-widget 
			itemprop="articleBody"
			[items]="uiController['activities']"
			class="academic-items-list content-article"  
			(eventEmitter)="uiController.onChildUiComponentEvent($event)">
		</academic-order-list-widget>

		<app-portal-asidemenu-container></app-portal-asidemenu-container>
	</div>
</article>