<div class="form-container slide-left fade-in">
    <form [formGroup]="uiController.form" (ngSubmit)="uiController.submit()">

        <div class="orderform-layout-container">
            <div class="orderform-invoice-header">
                <div class="orderform-invoice-amount-container">
                    <h4>Total:</h4>
                    <h4>${{ uiController['cartData'].totalCost.toFixed(2) }}</h4>
                </div>
                <div class="orderform-invoice-text-container">
                    <p class="lead"> 
                        <span>Title:</span> {{ uiController['academicOrderWizardData'].title }}
                    </p>
                </div>
            </div>
            <div class="table-responsive orderform-invoice-body">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td>Document Type</td>
                            <td>{{ uiController['academicOrderWizardData'].typeOfServiceTxt }}</td>
                        </tr>
                        <tr>
                            <td>Discipline</td>
                            <td>{{ uiController['academicOrderWizardData'].discipleTxt }}</td>
                        </tr>
                        <tr>
                            <td>Academic Level</td>
                            <td>{{ uiController['academicOrderWizardData'].academicLevelTxt }}</td>
                        </tr>
                        <tr>
                            <td>Deadline</td>
                            <td>{{ uiController['academicOrderWizardData'].deadLineTxt }}</td>
                        </tr>
                        <tr>
                            <td>Page Count</td>
                            <td>{{ uiController['academicOrderWizardData'].pageCount }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="orderform-invoice-footer">
                <div>
                    <!-- <div class="invoice-total-container">
                        <div class="invoice-total-text">Total</div>
                        <div class="invoice-total-amount">$200.00</div>
                    </div> -->
                    <div class="calc-lg-btn-group">
                        <a class="btn calc-lg-btn--qoute" (click)="uiController['transitionTo']('data')">
                            Back
                        </a>

                        <button class="btn calc-lg-btn--order"
                            [disabled]="uiController.form.invalid" type="submit">
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>