<section class="content-article" itemprop="articleBody">
    <div class="post-info" *ngFor="let artifactDataItem of items" (click)="uiController['onListWidgetItemClicked'](artifactDataItem)">
        <div class="post-description">
            <h2>
                ${{artifactDataItem?.fieldData['total'].value}}
            </h2>

            <div class="text-sm">
                <span class="tag">
                    Created: <time itemprop="dateModified">${{artifactDataItem?.fieldData['createdDt'].value}}</time>
                </span>
                <br>
                <span class="tag">
                    Due Date: <time itemprop="dateModified">${{artifactDataItem?.fieldData['dueDt'].value}}</time>
                </span>
            </div>
        </div>
        <div class="post-detail">
            <div class="post-buttons">
                <a class="btn btn-purple" href="https://fireship.page.link/slack">
                    Invoice: ${{artifactDataItem?.fieldData['code'].value}}
                </a>
            </div>
            <div class="post-tags">
                <a class="btn btn-contrast" href="https://fireship.page.link/slack">
                    Paper Status: In Progress
                </a>
            </div>
            <div class="post-tags">
                <a href="https://fireship.io/tags/angular">
                    <span class="tag tag-sm tag-angular">
                        {{artifactDataItem?.fieldData['academicStyleItem'].value.fieldData['description'].value}}
                    </span>
                </a>

                <a href="https://fireship.io/tags/react">
                    <span class="tag tag-sm tag-react">
                        {{artifactDataItem?.fieldData['pageCount'].value}} Pages
                    </span>
                </a>

                <a href="https://fireship.io/tags/vue">
                    <span class="tag tag-sm tag-vue">
                        {{artifactDataItem?.fieldData['academicLevelItem'].value.fieldData['description'].value}}
                    </span>
                </a>

                <a href="https://fireship.io/tags/payments">
                    <span class="tag tag-sm tag-payments">
                        {{artifactDataItem?.fieldData['lineSpacing'].value}} Pages
                    </span>
                </a>
            </div>
        </div>
        <div class="item-title-container">
            {{artifactDataItem?.fieldData['title'].value}}
        </div>
    </div>
    <div class="box box-sm chapter-item" *ngIf="items.length === 0">
        <a href="https://fireship.io/snippets/basic-css-dropdown-menu/"
            style="text-decoration: none; margin-top: 10px; text-align: left; display: block;">
        </a>
        <div class="box-content" style="padding: 1em;">
            <a href="https://fireship.io/snippets/basic-css-dropdown-menu/"
                style="text-decoration: none; margin-top: 10px; text-align: left; display: block;">

                <h3>No items found.</h3>

            </a>
        </div>
    </div>
</section>