<div class="form-container slide-left fade-in">
    <form [formGroup]="uiController.form" (ngSubmit)="uiController.submit()">
        <div class="row">
            <div class="col-md-12">
                <div class='fields-wrap'>

                    <div class="service cl-select-wrap">
                        <div class="cl-select-title">Type of service:</div>
                        <selectable-list-widget 
                            [items]="uiController['serviceTypeItems']" 
                            (eventEmitter)="uiController['onTypeOfServiceSelectedEvent']($event, '')">
                        </selectable-list-widget>
                    </div>
                    <div class="cl-select-wrap">
                        <dropdown-list-widget 
                            [showList]="uiController['showExtraWritingTypes']" 
                            [items]="uiController['academicWritingTypes']"
                            (eventEmitter)="uiController['onTypeOfServiceSelectedEvent']($event, 'closeTypeOfServiceList')">
                        </dropdown-list-widget>
                    </div>
                    <div id="alevel-container" class="level5 cl-select-wrap">
                        <div class="cl-select-title">Academic level:</div>
                        <selectable-list-widget 
                            [items]="uiController['aLevelItems']" 
                            (eventEmitter)="uiController['aowCalculate']($event, 'academicLevel')">
                        </selectable-list-widget>
                    </div>
                    <div>
                        <div class="cl-select-title">Deadline:</div>
                        <range-item-widget 
                            [items]="uiController['deadLineRangeItems']" 
                            (eventEmitter)="uiController['aowCalculate']($event, 'deadLine')">
                        </range-item-widget>
                    </div>

                </div>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <div class="calc-lg-btn-group">
                        <button class="btn orange-bg" [disabled]="uiController.form.invalid"
                            type="submit">
                            Next
                        </button>
                    </div>
                    <!-- <div class="cl-price-payment"></div> -->
                </div>
            </div>
            <div></div>
        </div>
    </form>
</div>