<!-- BEGIN: Content-->
<div class="app-content content">
	<div class="content-wrapper">
		<div class="content-wrapper-before"></div>
		<portal-content-header-container></portal-content-header-container>
		<div class="content-body">
			<!-- Basic Tables start -->
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">DiseaseCase</h4>
							<a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
							<div class="heading-elements">
								<ul class="list-inline mb-0">
									<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
									<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
									<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
									<li><a data-action="close"><i class="ft-x"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="card-content collapse show">
							<div class="card-body">
								<div class="card-text">
									<p>Select a record to view additional information.</p>
								</div>
								<div class="row">
									<div class="col-12">

										<!-- Responsive tables end -->
										<helion-ui-datatable [uiTableData]="uiController['uiTableData']"
											(eventEmitter)="uiController['onTableRowClickedEvent']($event)">
										</helion-ui-datatable>

									</div>
								</div>
								<div>
									<div>
										<a class="btn mb-1 btn-primary btn-icon btn-lg"
											routerLink="/portal-disease-case">Back</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Content-->