<app-academic-info-form-container 
    [initData]="initData" 
    *ngIf="uiController['wizardStep'] == uiController['AOW_START_STATE'] || 
    uiController['wizardStep'] == uiController['AOW_INFO_STATE'] ">
</app-academic-info-form-container>

<app-academic-details-form-container 
    [initData]="initData" 
    *ngIf="uiController['wizardStep'] == uiController['AOW_DETAILS_STATE']">
</app-academic-details-form-container>

<app-academic-data-form-container 
    [initData]="initData" 
    *ngIf="uiController['wizardStep'] == uiController['AOW_DATA_STATE']">
</app-academic-data-form-container>

<app-academic-invoice-form-container 
    [initData]="initData" 
    *ngIf="uiController['wizardStep'] == uiController['AOW_INVOICE_STATE']">
</app-academic-invoice-form-container>

<!-- <div class="alert alert-success alert-dismissible fade show" role="alert">
    <h2><strong>${{ uiController['cartData'].totalCost.toFixed(2)}}</strong></h2>.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div> -->