<article itemscope="" itemtype="http://schema.org/Article">
    <meta itemprop="datePublished" content="2019-06-23 06:44:00 -0700 -0700">
    <meta itemprop="dateModified" content="2019-06-23 06:44:00 -0700 -0700">
    <meta itemprop="image" content="img/featured.png">
    <meta itemprop="publisher" content="fireship.io">


    <h1 itemprop="name headline" id="paypal-checkout" class="post-title border-bottom">
        Account Overview
    </h1>
    <div class="content-main">

        <section class="content-article" itemprop="articleBody">
            <div class="box box-sm chapter-item">
                <a href="https://fireship.io/snippets/basic-css-dropdown-menu/"
                    style="text-decoration: none; margin-top: 10px; text-align: left; display: block;">
                </a>
                <div class="box-content" style="padding: 1em;">
                    <a href="https://fireship.io/snippets/basic-css-dropdown-menu/"
                        style="text-decoration: none; margin-top: 10px; text-align: left; display: block;">

                        <h3>How to Build a CSS Dropdown Menu</h3>
                        <p class="subtext">Build a clickable dropdown menu with CSS (no JavaScript)</p>

                    </a>
                    <div style="flex-direction: row; margin: 0"><a
                            href="https://fireship.io/snippets/basic-css-dropdown-menu/"
                            style="text-decoration: none; margin-top: 10px; text-align: left; display: block;">
                        </a><a href="https://fireship.io/tags/css"><span class="tag tag-sm tag-css">#css</span></a>
                    </div>
                </div>
            </div>



        </section>
        <app-portal-asidemenu-container></app-portal-asidemenu-container>
    </div>
</article>