<div class="main-home-container">
    <div id="home-landing-container">
        <div class="landing-form-container">
            <div class="helion-tabs">
                <input type="radio" name="helion-tabs" id="tabone" checked="checked">
                <label class="tab-label" for="tabone">ACADEMIC</label>
                <div class="tab">
                    <academic-form-wizard-container></academic-form-wizard-container>
                </div>
                <input type="radio" name="helion-tabs" id="tabtwo">
                <label id="content-tab-label" class="tab-label" for="tabtwo">CONTENT WRITING</label>
            </div>
        </div>
        <div class="landing-info-container">
            <div class="jumbotron-text-header-container">
                <h1 class="display-5">A+ Grades Guaranteed</h1>
                <div class="jumbotron-header-icon-container" style="margin-left: auto;">
                    <img src="assets/images/education/graduation-cap.png" alt="">
                    <img src="assets/images/education/microscope.png" alt="">
                    <img src="assets/images/education/calculator.png" alt="">
                </div>
            </div>
            <div class="jumbotron-text-body-container">
                <p>
                    We offer the best academic writing services that guarantee success throughout you academic
                    years.
                    We offer the best academic writing services that guarantee success throughout you academic
                    years.
                    We offer the best academic writing services that guarantee success throughout you academic
                    years.
                </p>
            </div>
            <div class="landing-btn-container">
                <div>
                    <button class="btn blue-bg" type="submit">
                        Next
                    </button>
                </div>
                <div>
                    <button class="btn purple-bg" type="submit">
                        Next
                    </button>
                </div>
            </div>

            <!-- <hr>
        <div style="display: flex; align-items: center;">
            <a href="https://itunes.apple.com/us/app/fireship/id1462592372?mt=8"><img
                    alt="Get it on the Apple App Store" src="Fireship.io_files/app-store-badge.svg" width="170px"></a>
            <a class="lead"
                href="https://play.google.com/store/apps/details?id=io.fireship.quizapp&amp;pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img
                    alt="Get it on Google Play" src="Fireship.io_files/en_badge_web_generic.png" width="210px"></a>
        </div> -->
        </div>
    </div>

</div>