<article itemscope="" itemtype="http://schema.org/Article" class="item-details-container">
    <meta itemprop="datePublished" content="2019-06-23 06:44:00 -0700 -0700">
    <meta itemprop="dateModified" content="2019-06-23 06:44:00 -0700 -0700">
    <meta itemprop="image" content="img/featured.png">
    <meta itemprop="publisher" content="fireship.io">


    <h1 itemprop="name headline" id="paypal-checkout" class="post-title border-bottom">
        Paper Details
    </h1>
    <div class="content-main">
		<academic-order-details-widget
			[artifactData]="uiController['data']"
			(eventEmitter)="uiController['onTaskEvent']($event)" >
		</academic-order-details-widget>
        <app-portal-asidemenu-container></app-portal-asidemenu-container>
    </div>
</article>