<article itemscope="" itemtype="http://schema.org/Article">
    <meta itemprop="datePublished" content="2019-06-23 06:44:00 -0700 -0700">
    <meta itemprop="dateModified" content="2019-06-23 06:44:00 -0700 -0700">
    <meta itemprop="image" content="img/featured.png">
    <meta itemprop="publisher" content="fireship.io">


    <h1 itemprop="name headline" id="paypal-checkout" class="post-title border-bottom">
        PayPal Checkout
    </h1>
    <div class="content-main">

        <section class="content-article" itemprop="articleBody">
        </section>
        <aside class="toc">
            <nav id="TableOfContents" style="top: 120px;">
                <ul>
                    <li>
                        <a href="#live-demo">Live Demo</a>
                    </li>
                    <li>
                        <a href="#initial-setup">Initial Setup</a>
                        <ul>
                            <li><a href="#paypal-credentials">PayPal Credentials</a></li>
                            <li><a href="#testing">Testing</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#angular">Angular</a>
                        <ul>
                            <li><a href="#generate-the-app">Generate the App</a></li>
                            <li><a href="#add-the-paypal-script-tag">Add the PayPal Script Tag</a></li>
                            <li><a href="#payment-component">Payment Component</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#react">React</a>
                        <ul>
                            <li><a href="#generate-the-app-1">Generate the App</a></li>
                            <li><a href="#payment-component-1">Payment Component</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#vue">Vue</a>
                        <ul>
                            <li><a href="#generate-the-app-2">Generate the App</a></li>
                            <li><a href="#payment-component-2">Payment Component</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</article>