<div class="form-container">
    <form [formGroup]="uiController.form" (ngSubmit)="uiController.submit()">
        <!-- Title fields -->
        <div class="form-row">
            <div class="col-md-12">
                <!-- Writer Level field -->
                <label for="{{uiController.data.fieldData['writerLevel'].name}}">
                    {{uiController.data.fieldData['writerLevel'].description}}
                </label>
                <select class="form-control" [formControl]="uiController.form.controls['writerLevel']">
                    <option *ngFor="let writerLevel of uiController['writerLevels']" 
                        [value]="writerLevel.itemValue">
                        {{ writerLevel.itemText }}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <label for="{{uiController.data.fieldData['wordCount'].name}}">
                    {{uiController.data.fieldData['wordCount'].description}}
                </label>
                <input type="number" class="form-control" min="0"
                    value="{{uiController.data.fieldData['wordCount']?.value}}"
                    formControlName="{{uiController.data.fieldData['wordCount'].name}}"
                    [readonly]="uiController.data.fieldData['wordCount'].isReadOnly">
                <field-error-widget
                    [fieldErrorData]="{ data: uiController.data.fieldData['wordCount'], form: uiController.form }">
                </field-error-widget>
            </div>
            
            <div class="col-md-6">
                <label for="{{uiController.data.fieldData['sourceCount'].name}}">
                    {{uiController.data.fieldData['sourceCount'].description}}
                </label>
                <input type="number" class="form-control" min="0"
                    value="{{uiController.data.fieldData['sourceCount']?.value}}"
                    formControlName="{{uiController.data.fieldData['sourceCount'].name}}"
                    [readonly]="uiController.data.fieldData['sourceCount'].isReadOnly">
                <field-error-widget
                    [fieldErrorData]="{ data: uiController.data.fieldData['sourceCount'], form: uiController.form }">
                </field-error-widget>
            </div>
        </div>

        <!-- Title fields -->
        
        <!-- Details fields -->
        <div class="form-row">
            <div class="col-md-12">
                <!-- No fields -->
                <label for="{{uiController.data.fieldData['paperDetails'].name}}">
                    {{uiController.data.fieldData['paperDetails'].description}}
                </label>
                <textarea class="md-textarea form-control"
                    formControlName="{{uiController.data.fieldData['paperDetails'].name}}"></textarea>
                <field-error-widget
                    [fieldErrorData]="{ data: uiController.data.fieldData['paperDetails'], form: uiController.form }">
                </field-error-widget>
            </div>
        </div>

        <div>
            <div class="calc-lg-btn-group">
                <a class="btn btn-lg calc-lg-btn--qoute" (click)="uiController['transitionTo']('info')">
                    Back
                </a>

                <button class="btn btn-lg  calc-lg-btn--order"
                    [disabled]="uiController.form.invalid" type="submit">
                    Next
                </button>
            </div>
        </div>
    </form>
</div>