<article itemscope="" itemtype="http://schema.org/Article">
    <meta itemprop="datePublished" content="2019-06-23 06:44:00 -0700 -0700">
    <meta itemprop="dateModified" content="2019-06-23 06:44:00 -0700 -0700">
    <meta itemprop="image" content="img/featured.png">
    <meta itemprop="publisher" content="fireship.io">


    <h1 itemprop="name headline" id="paypal-checkout" class="post-title border-bottom">
        Paper Details
    </h1>
    <div class="content-main">

        <section class="content-article" itemprop="articleBody">

            <header>

                <div class="post-info">
                    <div class="post-description">
                        <h2>
                            $27.00
                        </h2>

                        <!-- <div class="author-snip">

                            <div class="author-avatar"><img src="PayPal%20Checkout_files/jeff-delaney.png"
                                    alt="Jeff Delaney avatar"></div>
                            <div class="author-details">

                                <em>By
                                    <a itemprop="author" name="Jeff Delaney"
                                        href="https://fireship.io/contributors/jeff-delaney/">Jeff Delaney</a>
                                </em>
                            </div>

                        </div> -->

                        <div class="text-sm">
                            <span class="tag">
                                Created: <time itemprop="dateModified">Jun 23, 2019</time>
                            </span>
                            <br>
                            <span class="tag">
                                Due Date: <time itemprop="dateModified">Jun 23, 2019</time>
                            </span>
                        </div>

                    </div>

                    <div class="post-detail">
                        <div class="post-buttons">
                            <a class="btn btn-purple" href="https://fireship.page.link/slack">
                                Invoice: aPxwABlBsArdvUO
                            </a>
                        </div>

                        <div class="post-tags">
                            <a class="btn btn-contrast" href="https://fireship.page.link/slack">
                                Paper Status: In Progress
                            </a>
                        </div>
                        <div class="post-tags">
                            <a href="https://fireship.io/tags/angular"><span
                                    class="tag tag-sm tag-angular">APA</span></a>

                            <a href="https://fireship.io/tags/react"><span
                                    class="tag tag-sm tag-react">8 Pages</span></a>

                            <a href="https://fireship.io/tags/vue"><span
                                    class="tag tag-sm tag-vue">Undergraduate</span></a>

                            <a href="https://fireship.io/tags/payments"><span
                                    class="tag tag-sm tag-payments">Single Spaced</span></a>
                        </div>
                    </div>
                </div>
            </header>
            <div class="content-body">
                <h2 id="live-demo">Title</h2>
                <p>
                    The following lesson will show you how to start accepting payments entirely from your frontend
                    JavaScript code with PayPal Checkout with your choice of Angular, React, and Vue.
                </p>

                <h2 id="live-demo">Description</h2>
                <p>In February 2019, the PayPal Checkout API received a much needed <a
                        href="https://medium.com/paypal-engineering/launch-v2-paypal-checkout-apis-45435398b987">facelift</a>
                    that brought massive improvements to the developer experience. The new <a
                        href="https://developer.paypal.com/docs/api/overview/">v2 API</a> has detailed
                    documentation on par with <a href="https://fireship.io/tags/stripe">Stripe</a>
                    and offers one of the smoothest paths to start accepting payments
                    and/or subscriptions in a progressive web app. The following lesson will
                    show you how to start accepting payments entirely from your frontend
                    JavaScript code with PayPal Checkout with your choice of Angular, React,
                    and Vue.
                </p>
                <h2 id="live-demo">Files</h2>
                <nav class="chapters-list">
                    <a href="/courses/vue/intro-resources/">
                        <div class="box box-sm chapter-item ">
                            <i class="box-icon">
                                <div>
                                    <i class="emoji">📜</i>
                                </div>
                            </i>
                            <div class="box-content">
                                <strong>1 Resources</strong>
                                <span class="subtext">Project source code and Vue Firebase resources</span>
                            </div>
                            <div class="video-labels">
                                <span class="tag tag-sm">1:44</span>
                            </div>
                        </div>
                    </a>
                </nav>
            </div>




        </section>
        <app-portal-asidemenu-container></app-portal-asidemenu-container>
    </div>
</article>