<app-authentication-modal-container>
    <!-- <div modal-header>Login</div> -->
    <div modal-body>
        <section id="login-auth-section" class="container auth-section section">
            <div class="section-body-container">
                <reset-password-widget 
                    [entityData]="uiController.data" 
                    [config]="uiController['config']"
                    (eventEmitter)="uiController.onChildUiComponentEvent($event)">
                </reset-password-widget>
            </div>
        </section>
    </div>
    <!-- <div modal-footer>Login footer</div> -->
</app-authentication-modal-container>